@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: all 0.2s linear; */
}

html {
    font-size: 62.5%;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

ul {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "about"
        "footer";
}

.header_menu {
    /* background-color: blue; */
    grid-area: header;
    width: 100%;
    height: 10vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    color: white;
    display: block;
}

.menubar {
    width: 100%;
    height: 10vh;
    /* background-color: #eee; */
    margin: 0;
    padding: 0 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 5px;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo a span {
    color: white;
    font-size: 2rem;
    font-weight: 550;
}

.logo .navbartogger {
    display: none;
}

.navbarmenu {
    width: 100%;
    /* background-color: yellow; */
}

.navbarmenu ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.navbarmenu ul li a {
    color: #fff;
}

.navbarmenu ul li a .un {
    /* color: black; */
    color: white;
    padding: 5px;
    font-size: 2rem;
    font-weight: 550;
    text-transform: capitalize;
    display: inline-block;
}

.navbarmenu ul li a .un::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin-top: -5px;
    background-color: white;
    transition: 300ms;
}

.navbarmenu ul li .un:hover::after {
    width: 100%;
}

.home {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    /* background-color: blueviolet; */
}

.home .home-content {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.home .home-content .home-col {
    display: block;
    /* background-color: aqua; */
    text-align: center;
}

.home .home-content .home-col h1 {
    font-size: 5rem;
}

.home .home-content .home-col h1 span {
    font-size: 4rem;
    color: #e93f1a;
}

.home .home-content .home-col p {
    font-size: 1.3rem;
    margin-bottom: 35px;
}

.home .home-content .home-col a {
    padding: 10px 40px;
    background-color: #e93f1a;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.home .home-content .home-col a:hover {
    padding: 10px 40px;
    border: 1px solid #e93f1a;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    color: #e93f1a;
    border-radius: 10px;
}

.about_main {
    /* background-color: yellow; */
    grid-area: about;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

.about_container {
    /* background: yellowgreen; */
    display: flex;
    height: 80vh;
}

.detail-about{
    /* background-color: blue; */
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box-about h2{
    text-align: start;
    font-size: 3rem;
    text-decoration: underline;
    padding: 10px 0;
}

.box-about p{
    text-align: start;
    font-size: 1.5rem;
}

.get-start-about{
    width: 100%;
    height: 5vh;
    /* background: yellow; */
    text-align: end;
    margin: 20px 0;
}

.box-about a span{
    width: 100%;
    padding: 10px;
    background: #e93f1a;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
    font-size: 2rem;
}

.box-about a span:hover {
    background-color: transparent;
    border-color: #e93f1a;
    color: #e93f1a;
    font-size: 2rem;
}

.img-about{
    /* background-color: aqua; */
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}


footer {
    background-color: black;
    color: white;
    grid-area: footer;
}


@media (max-width: 800px) {

    /* .grid-container{
        display: none;
    } */
    .grid-container {
        grid-template-columns: 1fr;
    }

    .header_menu {
        display: block;
        margin-bottom: 300px;
    }

    .header_menu.active {
        display: block;
        margin-bottom: 0;
    }

    .menubar {
        /* background-color: aqua; */
        display: block;
        margin-top: 10px;
        padding: 0 10px;
    }

    .logo {
        justify-content: space-between;
    }

    .logo .navbartogger {
        display: flex;
    }

    .navbarmenu ul {
        background-color: rgba(81, 77, 77, 0.419);
        border-radius: 10px;
        margin: 30px;
        display: block;
        text-align: center;
    }
    
    .navbarmenu ul.active {
        display: none;
    }

    /* .navbarmenu ul {
        display: flex;
        justify-content: end;
        gap: 20px;
    } */

    .navbarmenu ul li {
        margin: 5px;
        padding: 2px;
        /* cursor: pointer; */
    }    
    .navbarmenu ul li a {
        /* color: #fff; */
        /* cursor: pointer; */
    }
    
    .navbarmenu ul li a .un {
        /* color: black; */
        color: white;
        padding: 5px;
        font-size: 2rem;
        font-weight: 550;
        text-transform: capitalize;
        display: inline-block;
        /* cursor: pointer; */
    }
    
    .navbarmenu ul li a .un::after {
        content: '';
        width: 0;
        height: 2px;
        display: block;
        margin-top: -5px;
        background-color: white;
        transition: 300ms;
    }
    
    .navbarmenu ul li .un:hover::after {
        width: 100%;
    }

    .menuopen {
        display: flex;
        margin-top: 6px;
        cursor: pointer;
    }

    .menuopen.active {
        display: none;
        margin-top: 6px;
    }

    .menuclose {
        display: flex;
        cursor: pointer;
    }
    
    .menuclose img {
        width: 50px;
        height: 55px;
        margin-top: -8px;
        margin-right: -15px;
    }

    .menuclose.active {
        display: none;
    }
    
    .about_container {
        /* background: yellowgreen; */
        display: block;
        height: 100vh;
    }
    
    .about_container.active {
        /* background: yellowgreen; */
        margin-top: 0;
        display: block;
        height: 100vh;
    }
    
    .detail-about{
        /* background-color: blue; */
        width: 100%;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .box-about h2{
        text-align: start;
        font-size: 3rem;
        text-decoration: underline;
        padding: 10px 0;
    }
    
    .box-about p{
        text-align: start;
        font-size: 1.5rem;
    }
    
    .get-start-about{
        width: 100%;
        height: 5vh;
        /* background: yellow; */
        text-align: end;
        margin: 20px 0;
    }
    
    .box-about a span{
        width: 100%;
        padding: 10px;
        background: #e93f1a;
        border-radius: 5px;
        color: #fff;
        border: 1px solid transparent;
        font-size: 2rem;
    }
    
    .box-about a span:hover {
        background-color: transparent;
        border-color: #e93f1a;
        color: #e93f1a;
        font-size: 2rem;
    }
    
    .img-about{
        /* background-color: aqua; */
        width: 100%;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
}
