@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: all 0.2s linear; */
}

html {
    font-size: 62.5%;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

ul {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "about"
        "blog"
        "service"
        "contact"
        "footer";
}

.header_menu {
    /* background-color: blue; */
    grid-area: header;
    width: 100%;
    height: 85vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    color: white;
    display: block;
}

.menubar {
    width: 100%;
    height: 10vh;
    /* background-color: #eee; */
    margin: 0;
    padding: 0 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 5px;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo a span {
    color: white;
    font-size: 2rem;
    font-weight: 550;
}

.logo .navbartogger {
    display: none;
}

.navbarmenu {
    width: 100%;
    /* background-color: yellow; */
}

.navbarmenu ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.navbarmenu ul li a {
    color: #fff;
}

.navbarmenu ul li a .un {
    /* color: black; */
    color: white;
    padding: 5px;
    font-size: 2rem;
    font-weight: 550;
    text-transform: capitalize;
    display: inline-block;
}

.navbarmenu ul li a .un::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin-top: -5px;
    background-color: white;
    transition: 300ms;
}

.navbarmenu ul li .un:hover::after {
    width: 100%;
}

.home {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    /* background-color: blueviolet; */
}

.home .home-content {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.home .home-content .home-col {
    display: block;
    /* background-color: aqua; */
    text-align: center;
}

.home .home-content .home-col h1 {
    font-size: 5rem;
}

.home .home-content .home-col h1 span {
    font-size: 4rem;
    color: #e93f1a;
}

.home .home-content .home-col p {
    font-size: 1.3rem;
    margin-bottom: 35px;
}

.home .home-content .home-col a {
    padding: 10px 40px;
    background-color: #e93f1a;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.home .home-content .home-col a:hover {
    padding: 10px 40px;
    border: 1px solid #e93f1a;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    color: #e93f1a;
    border-radius: 10px;
}

.about_main {
    /* background-color: yellow; */
    grid-area: about;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

.about_container {
    /* background: yellowgreen; */
    display: flex;
    height: 80vh;
}

.detail-about{
    /* background-color: blue; */
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box-about h2{
    text-align: start;
    font-size: 3rem;
    text-decoration: underline;
    padding: 10px 0;
}

.box-about p{
    text-align: start;
    font-size: 1.5rem;
}

.get-start-about{
    width: 100%;
    height: 5vh;
    /* background: yellow; */
    text-align: end;
    margin: 20px 0;
}

.box-about a span{
    width: 100%;
    padding: 10px;
    background: #e93f1a;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
    font-size: 2rem;
}

.box-about a span:hover {
    background-color: transparent;
    border-color: #e93f1a;
    color: #e93f1a;
    font-size: 2rem;
}

.img-about{
    /* background-color: aqua; */
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.blog_main {
    background: #e6e0e0;
    grid-area: blog;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

.heading_blog{
    /* width: 100%; */
    /* height: 10vh; */
    /* background: yellow; */
    /* margin: 0 100px; */
    /* padding: 20px; */
    text-align: center;
    /* margin-bottom: 20px; */
}

.heading_blog h2{
    font-size: 3rem;
    text-decoration: underline;
    padding: 10px 0;
}

.blog_group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background: yellow; */
}

.blog_card {
    border: 1px solid #000;
    margin: 10px;
    border-radius: 20px;
    background: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.blog_card .box-container-blog .box .image img{
    width: 100%; 
    height: 280px; 
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.blog_card .box-container-blog .box .blog-card-content{
    margin: 10px;
    padding: 10px;
    background: #fff;
}

.blog_card .box-container-blog .box .blog-card-content h3{
    /* background: yellow; */
    font-size: 3rem
}

.blog_card .box-container-blog .box .blog-card-content p{
    /* background: yellow; */
    font-size: 1.15rem;
    height: 100px;
}

.blog_card .box-container-blog .box .blog-card-content .blog-read-more{
    /* background: yellow; */
    width: 100%;
    height: 10px;
    text-align: end;
    margin-bottom: 10px;
}

.blog_card .box-container-blog .box .blog-card-content .blog-read-more a span{
    background: #e93f1a;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.blog_card .box-container-blog .box .blog-card-content .blog-read-more a span:hover {
    background-color: transparent;
    border-color: #e93f1a;
    color: #e93f1a;
}

.service_main {
    /* background-color: gray; */
    /* color: yellow; */
    grid-area: service;
}

.service_header{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
}

.service_container {
    display: flex;
    margin: 0 100px 5px ;
    gap: 2rem;
    flex-direction: column;
    /* background: yellow; */
}

.service_container:nth-child(1) {
    flex-direction: row;
}

.service_container:nth-child(2) {
    flex-direction: row-reverse;
}

.service_container:nth-child(3) {
    flex-direction: row;
}

.service_container:nth-child(4) {
    flex-direction: row-reverse;
}

.service_container:nth-child(5) {
    flex-direction: row;
}

.service_container:nth-child(6) {
    flex-direction: row-reverse;
}

.service_container:nth-child(7) {
    flex-direction: row;
}

.service_container:nth-child(8) {
    flex-direction: row-reverse;
}

.detail-service {
    width: 50%;
    height: 50vh;
    border: 1px solid black;
    padding: 30px;
}

.img-service {
    display: flex;
    width: 50%;
    height: 50vh;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}

.img-service img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.detail-service h3 {
    font-size: 35px;
    color: black;
}

.detail-service ul{
    display: block;
    padding: 45px;
}

.detail-service ul li {
    list-style: disc;
    font-size: 25px;
}

.contact_main {
    /* background-color: yellow; */
    /* color: yellow; */
    grid-area: contact;
    background: #F5F5F5;
    margin-top: 50px;
}

.contact_header {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
}

.contact_container {
    width: 86%;
    height: 60vh;
    /* background: greenyellow; */
    margin: 0px 100px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.detail-contact {
    width: 100%;
    height: 100%;
    /* background: wheat; */
    align-items: center;
    display: flex;
    text-align: center;
}

.row-contact {
    width: 100%;
    height: 100%;
    /* background: #e93f1a; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.col-contact {
    width: 100%;
    /* background: blue; */
}

.col-contact div {
    width: 100%;
    height: 100%;
    /* background: yellow; */
    padding: 15px;
    /* margin-left: -20px; */
}

.col-contact div input {
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.col-contact div input::placeholder {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-contact div input::-ms-input-placeholder {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-contact div .message-box {
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.col-contact div .message-box::placeholder {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-contact div .message-box::-ms-input-placeholder {
    font-size: 1.5rem;
    font-weight: 600;
}

.col-contact .send-contact button{
    width: 25%;
    background: #e93f1a;
    margin-left: 25%;
    color: #fff;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -10px;
}

.col-contact .send-contact button:hover {
    background-color: transparent;
    border: 1px solid #e93f1a;
    color: #e93f1a;

}

.contact-map {
    width: 100%;
    /* background: violet; */

}

.contact-map iframe {
    width: 100%;
    height: 400px;
    border: 1px solid black;
}


footer {
    background-color: black;
    color: white;
    grid-area: footer;
}


@media (max-width: 800px) {

    /* .grid-container{
        display: none;
    } */
    .grid-container {
        grid-template-columns: 1fr;
    }

    .header_menu {
        display: block;
    }

    .menubar {
        /* background-color: aqua; */
        display: block;
        margin-top: 10px;
        padding: 0 10px;
    }

    .logo {
        justify-content: space-between;
    }

    .logo .navbartogger {
        display: flex;
    }

    .navbarmenu ul {
        background-color: rgba(81, 77, 77, 0.419);
        border-radius: 10px;
        margin: 30px;
        display: block;
        text-align: center;
    }
    
    .navbarmenu ul.active {
        display: none;
    }

    .menuopen {
        display: none;
        margin-top: 6px;
    }

    .menuopen.active {
        display: flex;
        margin-top: 6px;
    }

    .menuclose {
        display: none;
    }
    
    .menuclose img {
        width: 50px;
        height: 55px;
        margin-top: -8px;
        margin-right: -15px;
    }

    .menuclose.active {
        display: flex;
    }

    .navbarmenu ul li {
        margin: 5px;
        padding: 2px;
    }
    
    .navbarmenu ul li a {
        color: #fff;
    }
    

    .home {
        width: 100%;
        height: 100%;
        padding: 0 1px;
        margin-top: 40px;
        /* background-color: blueviolet; */
    }

    .home .home-content {
        width: 100%;
        height: 100%;
        /* background-color: grey; */
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .home .home-content .home-col {
        display: block;
        /* background-color: aqua; */
        text-align: center;
    }

    .home .home-content .home-col h1 {
        font-size: 3rem;
    }

    .home .home-content .home-col h1 span {
        font-size: 2rem;
        color: #e93f1a;
    }

    .home .home-content .home-col p {
        font-size: 1.2rem;
        margin-bottom: 25px;
    }

    .home .home-content .home-col a {
        padding: 10px 40px;
        background-color: #e93f1a;
        font-size: 2.5rem;
        font-weight: 600;
        color: white;
        border-radius: 10px;
    }
    
    .about_container {
        /* background: yellowgreen; */
        display: block;
        height: 100vh;
    }
    
    .detail-about{
        /* background-color: blue; */
        width: 100%;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .box-about h2{
        text-align: start;
        font-size: 3rem;
        text-decoration: underline;
        padding: 10px 0;
    }
    
    .box-about p{
        text-align: start;
        font-size: 1.5rem;
    }
    
    .get-start-about{
        width: 100%;
        height: 5vh;
        /* background: yellow; */
        text-align: end;
        margin: 20px 0;
    }
    
    .box-about a span{
        width: 100%;
        padding: 10px;
        background: #e93f1a;
        border-radius: 5px;
        color: #fff;
        border: 1px solid transparent;
        font-size: 2rem;
    }
    
    .box-about a span:hover {
        background-color: transparent;
        border-color: #e93f1a;
        color: #e93f1a;
        font-size: 2rem;
    }
    
    .img-about{
        /* background-color: aqua; */
        width: 100%;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .blog_group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: #e6e0e0;
    }
    
    .blog_card {
        border: 1px solid #000;
        margin: 10px;
        border-radius: 20px;
        background: #fff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .blog_card .box-container-blog .box .image img{
        width: 100%; 
        height: 280px; 
        object-fit: cover;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    .blog_card .box-container-blog .box .blog-card-content{
        margin: 10px;
        padding: 10px;
        background: #fff;
    }
    
    .blog_card .box-container-blog .box .blog-card-content h3{
        /* background: yellow; */
        font-size: 3rem
    }
    
    .blog_card .box-container-blog .box .blog-card-content p{
        /* background: yellow; */
        font-size: 1.15rem;
        height: 100px;
    }
    
    .blog_card .box-container-blog .box .blog-card-content .blog-read-more{
        /* background: yellow; */
        width: 100%;
        height: 10px;
        text-align: end;
        margin-bottom: 10px;
    }
    
    .blog_card .box-container-blog .box .blog-card-content .blog-read-more a span{
        background: #e93f1a;
        font-size: 15px;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid transparent;
    }
    
    .blog_card .box-container-blog .box .blog-card-content .blog-read-more a span:hover {
        background-color: transparent;
        border-color: #e93f1a;
        color: #e93f1a;
    }

    .service_header {
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-weight: 600;
        text-decoration: underline;
    }

    .service_container {
        display: block;
        margin: 0 50px 5px;
        gap: 2rem;
        flex-direction: column;
    }


    .detail-service {
        width: 100%;
        height: 50vh;
        border: 1px solid black;
        padding: 15px;
    }

    .img-service {
        display: flex;
        width: 100%;
        height: 50vh;
        align-items: center;
        justify-content: center;
    }

    .img-service img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .detail-service h3 {
        font-size: 20px;
        color: black;
    }

    .detail-service ul {
        display: block;
        padding: 5px;
    }

    .detail-service ul li {
        list-style: disc;
        font-size: 15px;
        /* background: #e93f1a; */
        text-align: start;
        margin-left: 35px;
        margin-bottom: -10px;
    }
    
    .contact_main {
        /* background-color: yellow; */
        /* color: yellow; */
        grid-area: contact;
        background: #F5F5F5;
        margin-top: 50px;
        height: 140vh;
    }
    
    .contact_header {
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 3rem;
        font-weight: 600;
        text-decoration: underline;
    }
    
    .contact_container {
        /* width: 100%; */
        /* height: 60vh; */
        /* background: greenyellow; */
        margin: 0px 50px;
        /* align-items: center; */
        display: block;
        /* text-align: center; */
        /* justify-content: space-around; */
    }
    
    .detail-contact {
        width: 100%;
        height: 100%;
        /* background: wheat; */
        align-items: center;
        display: flex;
        text-align: center;
    }
    
    .row-contact {
        width: 100%;
        height: 100%;
        /* background: #e93f1a; */
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .col-contact {
        width: 100%;
        /* background: blue; */
    }
    
    .col-contact div {
        width: 100%;
        height: 100%;
        /* background: yellow; */
        padding: 15px;
        /* margin-left: -20px; */
    }
    
    .col-contact div input {
        width: 80%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 10px;
    }
    
    .col-contact div input::placeholder {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .col-contact div input::-ms-input-placeholder {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .col-contact div .message-box {
        width: 80%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 10px;
    }
    
    .col-contact div .message-box::placeholder {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .col-contact div .message-box::-ms-input-placeholder {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .col-contact .send-contact button{
        width: 25%;
        background: #e93f1a;
        margin-left: 55%;
        color: #fff;
        padding: 10px;
        font-size: 1.8rem;
        font-weight: 600;
        cursor: pointer;
        border-radius: 10px;
        margin-top: -10px;
    }
    
    .col-contact .send-contact button:hover {
        background-color: transparent;
        border: 1px solid #e93f1a;
        color: #e93f1a;
    
    }
    
    .contact-map {
        width:100%;
        /* background: violet; */
    
    }
    
    .contact-map iframe {
        width: 385px;
        height: 380px;
        border: 1px solid black;
    }

    
}
